@import '_variaveis';
@import '_base';

@font-face {
  font-family: "Display";
  src: url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYBLACKITALIC.OTF")
    format("opentype")
    url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF")
    format("opentype")
    url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYHEAVYITALIC.OTF")
    format("opentype")
    url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYLIGHTITALIC.OTF")
    format("opentype");
}
html{
  font-size: 62.5%;
  body {
    font-family: "Display", sans-serif;
    margin: 0 auto;
    font-size: 1.6rem;
  }
}


ul li a,
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
