/* Espaçamentos */

.wrapp-pg-are {
  width: 74.34%;
  padding-top: 24px;
  margin-left: 23.26%;
}

.linha-are{
  background-image: url(/img/layout-2/Path.png);
  background-repeat: no-repeat;
}

.Are-inicio-pg {
  padding-top: 128px;
  padding-bottom: 93px;
  width: 81.25%;
  display: flex;
  margin: auto;
}

/* Usar background e margin */
.Are-pag {
  z-index: 1;
  /*  height: 400px; */
}

/* Aba 01 Who We Are */

.flex-logo-text-img {
  justify-content: space-between;
  align-items: center;
  width: 68.61%;
  display: flex;
}

.Are-inicio-pg .logo-img {
  width: 24px;
  height: 24px;
}

.flex-logo {
  display: flex;
  align-items: center;
}

.flex-logo img {
  width: 24px;
  margin-right: 177px;
}

.flex-logo p {
  color: #ffffff;
  margin-left: 24px;
}

.flex-logo h3 {
  color: #8b8b8b;
}

.logo-display-img {
  width: 15.04%;
  display: flex;
}

/* Título e setas */
.titulo-pg-are {
  padding-top: 24px;
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
}

.flex-titulo-are {
  justify-content: space-between;
  display: flex;
  align-items: left;
}

.setas-are {
  align-self: center;
}
/* ------------------------------------------------------ */
/* Subtitulo e paragrafo*/

.sub-pg-are {
  padding-bottom: 40px;
  color: #ffffff;
}

.paragrafo-pg-are {
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

/* Flex da segunda parte da página 02*/

.flex-design-are {
  display: flex;
  padding-bottom: 169px;
  padding-top: 170px;
}

.linha-pg-are {
  width: 6.09%;
  display: flex;
  align-items: flex-start;
}

.bigest-pg-are {
  justify-content: center;
  align-items: center;
  padding: 64px 78px 100px 79px;
  /* width: 34.35%; */
  display: flex;
  flex-direction: column;
}

.bigest-pg-are h3 {
  font-size: 200px;
  font-weight: 600;
  color: #ffffff;
}

.bigest-pg-are p {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.text-are-designs {
  justify-content: space-between;
  margin: auto;
  display: flex;
  width: 81.25%;
}

/* -------------------------------------------------------------- */

/* Teste - Position Absolute */

.position-relative {
  position: relative;
  z-index: 3;
}

.background-img {
  z-index: -1;
  position: absolute;
  top: -30px;
  right: 0;
}

/* Desktop img e datas */

.deskotop-img {
  margin-left: 155px;
  max-width: 100%;
}

.flex-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Background da sessão*/

.fundo-pg-are {
  background-color: #232340;
  position: relative;
  z-index: 0;
}

/* ----------------------------------------------- */
/* ---------------------Ajuste das imagens------------------- */

.imgs-are {
  width: 87.15%;
  margin: 0 0 0 0;
  align-items: center;
  display: flex;
}

.flex-anos-img {
  width: 9.37%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.anos-are-img {
  display: flex;
  width: 13.81%;
}

.flex-desktop-img{
  display: flex;
  width: 77.29%;
}
