/* Gerais dessa sessão*/

.fundo-pg-do {
  padding-top: 152px;
  background-image: linear-gradient(#f5f3f7, #ffffff);
}

/* Título e tituluzinho hehe *-* */
/* --------------------------------------------------- */
.flex-logo-do {
  margin-left: 135px;
  display: flex;
  align-items: center;
}

.flex-logo-do img {
  width: 24px;
  margin-right: 177px;
}

.flex-logo-do p {
  color: #5468e7;
  margin-left: 24px;
  font-weight: 600;
}

.flex-logo-do h3 {
  color: #5468e7;
  font-weight: 600;
}

.flex-titulo-do {
  display: flex;
}

.titulo-pg-do {
  font-size: 64px;
  font-weight: 700;
  margin-right: 135px;
  color: #232340;
}

/* ---------------------------------------------- End */
/* ---------------------------------------------- */

/*Cards Configuração*/
.cards-img {
  justify-content: center;
  display: flex;
  box-shadow: 5px 5px 70px #ece7ee;
  border-bottom: 8px solid #f5f3f7;
  border-radius: 48px;
  margin: 0 auto;
  margin-top: 148px;
  margin-bottom: 185px;
  height: 480px;
}

.card {
  max-width: 1170px;
  width: 293px;
}

.card p {
  padding-top: 40px;
  line-height: 32px;
  font-weight: 700;
  font-size: 24px;
  color: #5468e7;
}

.card:hover {
  background-color: #5468e7;
  border-radius: 48px;
  height: 560px;
  color: #ffffff;
}
.card:hover p
{
  color: white;
}
.cards-img img {
  width: 128px;
  height: 128px;
}

.cards-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
}

.cards-img li {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
