/* ======================= */
/* ----Arrumando Flex----- */

.flex-titulo-projects {
  padding-bottom: 40px;
  align-items: flex-start;
  display: flex;
}

.flex-conteiner-projects {
  display: flex;
  margin-left: 135px;
  padding-top: 227px;
  margin-bottom: 100px;
}

/* ====================== */
/* ------Butões---------- */
.button-projects {
  padding: 20px 38px;
  background-color: #5468e7;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  color: white;
}

.featured-product {
  background-color: #9080ff;
  border: none;
  padding: 11px 22px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.butao-view {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 24px 16px;
  color: #ffffff;
  background-color: #232340;
  border-radius: 50%;
  border: none;
  position: absolute;
  margin-left: 0px;
  margin-top: 420px;
  left: 350px;
}

/* =============================== */
/* --------Título e Texto------------------ */

.title-projects {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

.title-sapiens {
  padding-top: 24px;
  padding-bottom: 32px;
}

/* ============================= */
/* ---------Ajuste das imagens- */

.bg-projects {
  margin-left: 320px;
  position: absolute;
  z-index: -1;
}

.img-bg-position {
  position: relative;
}

.female-running-projects {
  position: relative;
  left: -50px;
}

.shadow-projects {
  position: absolute;
  right: 0px;
  top: -80px;
  z-index: -2;
}

.seta-projects {
  position: absolute;
  top: 300px;
  left: 960px;
}

/* ========================================= */
/* ----------------Segunda parte da Página- */

/* ======================================== */
/* ------------Titulo Bento---------------- */

.bento-title {
  padding-bottom: 65px;
}

.paragrafo-bento {
  padding-top: 40px;
}

/* ======================================= */
/* ------------Posicionamento Bento------ */

.flex-bento {
  display: flex;
  position: relative;
}

.bento-3d {
  margin-left: 135px;
  padding-top: 341px;
}

.bento-vol2 {
  margin-right: 55px;
  position: absolute;
  right: 0px;
  padding-top: 46px;
}

/* --------Posicionamento Bento Vol.2 ----*/

.img-computer {
  position: relative;
}

/* .bg-bento-roxo{
  bottom: 25px;
  left: 0;
  position: absolute;
  z-index: -1;
}
 */
.main-img {
  top: 50px;
  left: -160px;
  position: absolute;
}

.seta-bento-img {
  bottom: 60px;
  left: 334px;
  position: absolute;
}

/* -------Posicionamento Bento 3D----- */

.img-tablet {
  padding-bottom: 40px;
  position: relative;
}

.tablet-img {
  bottom: 100px;
  left: -5px;
  position: absolute;
}

.seta-bento-3d {
  bottom: 100px;
  left: 438px;
  position: absolute;
}

/* -------Posicionamento Sapiens ------- */

.seta-bento-sapiens {
  margin-left: -37px;
  margin-bottom: 50px;
}

/* --------Posiocionamento Vol. 3------ */

.seta-bento-vol3 {
  margin-left: -37px;
  margin-bottom: 50px;
}

.music-img {
  padding-top: 70px;
  position: absolute;
}

/* -----------Texto segunda pterceira parte-- */

.bento-title-sapiens{
  padding-bottom: 40px;
}