:root{
  --seta-size: 12%;
}


/* ======================= */
/* ----Arrumando Flex----- */


.flex-titulo-projects {
  padding-bottom: 40px;
  align-items: flex-start;
  display: flex;
}

.container-projects-text {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 80%;
}

.container-projects {
  display: flex;
  margin-left: 10%;
}

.flex-conteiner-projects {
  background-image: url(/img/layout-4/Female\ Running\ Colorful\ 2@2x\ Copy.png);
  background-repeat: no-repeat;
  background-position-y: -130px;
  background-position-x: 100%;
  width: 100%;
  position: relative;
  display: flex;
  padding-top: 139px;
  padding-bottom: 130px;
  height: 550px;
}

.project-inicio-female-running {
  background-image: url(/img/layout-4/Component\ 1.png);
  background-repeat: no-repeat;
}

.flex-img-projects {
  position: relative;
}

.project-inicio-pg {
  padding-top: 128px;
  width: 81.25%;
  display: flex;
  margin: auto;
}

.project-inicio-pg .logo-img {
  width: 24px;
  height: 24px;
}

/* ====================== */
/* ------Butões---------- */
.button-projects {
  padding: 20px 38px;
  background-color: #5468e7;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  color: white;
}

.flex-button-projects {
  justify-content: end;
  margin-bottom: 90px;
  width: 25.81%;
  align-items: center;
  display: flex;
}

.featured-product {
  background-color: #9080ff;
  border: none;
  padding: 11px 22px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.butao-view {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 24px 16px;
  color: #ffffff;
  background-color: #232340;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 10px;
  left: -110px;
}

.seta-projects {
  position: absolute;
  bottom: 270px;
  left: 375px;
}

/* =============================== */
/* --------Título e Texto------------------ */

.text-project {
  margin-top: 50px;
  width: 80%;
  position: absolute;
}

.title-projects {
  font-size: 2.3em;
  line-height: 48px;
  font-weight: 700;
}

.title-sapiens {
  padding-top: 24px;
  padding-bottom: 32px;
}

.logo-project {
  display: flex;
}

.logo-project p {
  margin-left: 24px;
  color: #5468e7;
  font-weight: 600;
}

.logo-project {
  color: #5468e7;
  font-weight: 600;
}

.titulo-pg-project {
  margin-bottom: 40px;
  margin-top: 24px;
  font-weight: 700;
  font-size: 84px;
  line-height: 100.24px;
  letter-spacing: -1px;
}

/* ============================= */
/* ---------Ajuste das imagens- */

.bg-projects {
  bottom: 0;
  right: 128px;
  position: absolute;
  z-index: -1;
}

.female-running-projects {
  background-image: url(/img/layout-4/Component\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 23%;
  z-index: -1;
  width: 48%;
  height: 500px;
  padding-bottom: 130px;
  min-width: 550px;
  max-width: 700px;
}
.shadow-projects {
  max-width: none;
  position: absolute;
  right: 50px;
  top: -290px;
  z-index: -2;
}

/* ========================================= */
/* ----------------Segunda parte da Página- */

/* ======================================== */
/* ------------Titulo Bento---------------- */

.bento-title {
  padding-bottom: 65px;
}

.paragrafo-bento {
  padding-top: 40px;
}

/* ======================================= */
/* ------------Posicionamento Bento------ */

.flex-bento {
  justify-content: space-between;
  display: flex;
  width: 81.25%;
  margin: auto;
}

.bento-3d {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 341px;
}

.bento-vol2 {
  right: 0px;
  padding-top: 46px;
}

/* --------Posicionamento Bento Vol.2 ----*/

.img-computer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.title-bentovol2 {
  margin-left: 35%;
}
.title-bentovol3 {
  margin-left: 15%;
}
/* .bg-bento-roxo{
  bottom: 25px;
  left: 0;
  position: absolute;
  z-index: -1;
}
 */
.main-img {
  top: 50px;
  left: -160px;
}

.seta-bento-img {
  width: var(--seta-size);
  max-width: 65px;
  min-width: 55px;
  position:inherit;
  bottom: 60px;
  left: 94.5%;
  position: absolute;
}
.seta-bento-vol3-img {
  width: var(--seta-size);
  max-width: 65px;
  min-width: 55px;
  bottom: 60px;
  left: 77.5%;
  position: absolute;
}
/* -------Posicionamento Bento 3D----- */

.img-tablet {
  width: 100%;
  padding-bottom: 40px;
  position: relative;
}

.seta-bento-img {
  left: 94.5%;
  position: absolute;
}

/* -------Posicionamento Sapiens ------- */

.seta-bento-3d {
  margin-left: -5.5%;
  position:absolute;
  bottom: 20%;
  width: var(--seta-size);
  max-width: 65px;
  min-width: 55px;

}

.seta-bento-sapiens {
  margin-left: -5.5%;
  position:absolute;
  bottom: 20%;
  width: var(--seta-size);
  max-width: 65px;
  min-width: 55px;
}

/* --------Posiocionamento Vol. 3------ */

.seta-bento-vol3 {
  position: relative;
  width: 64px;
  margin-left: -37px;
  margin-bottom: 50px;
}

.music-img {
  padding-top: 70px;
  position: relative;
}

/* -----------Texto segunda pterceira parte-- */

.bento-title-sapiens {
  padding-bottom: 40px;
}

/* ============================================================== */
/* ----------------------------Linhas--------------------------- */

.img-bg-position{
  background-image: url(/img/layout-4/line\ 2\ \(2\).png);
  background-repeat: no-repeat;
  background-position-y: 390px;
}

.linha-bento{
  background-image: url(/img/layout-4/line\ 1\ \(1\).svg);
  background-repeat: no-repeat;
  background-position-x: 590px;
  background-position-y: 800px;
  background-size: 750px;
}

/* ------------------------------------------------------------ */



@media (max-width: 1026px){
.titulo-pg-project{
  font-size: 74px;
}
.paragrafo-pg-are {
  font-size: 16px;
}
}