/* ======================================================================== */
/* ------------------------Posicionamento das Imagens---------------------- */
*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-position {
width: 81.2%;
max-width: 1296px;
height: 720px;
background-color: #5468E7;
border-radius: 40px;
margin: auto;
align-items: center;
display: flex;
position: relative;
}

.shadow-container{
  max-width: 1296px;
  position: absolute;
  box-shadow: -60px 0px #D1ECFD ;
  width: 80%;
  height: 640px;
  border-radius: 40px;
}
.cellphone{
  margin-right: -60px;
}
.triangle{
  z-index: 1;
  position: absolute;
  width: 50%;
  /* margin-left: clamp(200px, 10%, 70px); */
  right: -110px;
}

.background-container{
  width: 100%;
  height: 640px;
  justify-content: space-between;
  position: absolute;
  display: flex;
}



.conteudo-action{
  display: flex;
  justify-content: space-between;
}


/* ===================Posicionamento de Texto=================================*/
.title-and-apply{
  z-index: 2;
  width: 50%;
  margin-left: 50%;
  white-space: nowrap;
}

.title-call-05{
  display: flex;
  color: #ffffff;
  font-weight: 550;
}

.title-call-05 p{
  margin-left: 24px;
}

.flex-action{

  position: absolute;
  display: flex;
}

.flex-action img{
  display: flex;
  position: relative;
  top: 50px;
  left: -600%;
}


.flex-action-logo{
  color: #ffffff;
  font-weight: 600;
  align-items: center;
  justify-items: center;
  display: flex;
}

.flex-action-logo h3{
  padding-right: 24px;
}

.container{
  margin-top: 128px;
  margin-bottom: 128px;
}


/* =====================Estilização do texto================================= */
.title-action{
font-size: 64px;
font-weight: 700;
color: #ffffff;
line-height: 72px;
margin-top: 24px;
margin-bottom: 72px;
}

/* =======================Butão============================================= */

.button-apply{
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #5468e7;
  padding: 20px 56px;
}


