/* ======================================================================== */
/* ------------------------Posicionamento das Imagens---------------------- */

.action-position {
  display: flex;
  width: 90%;
  margin: auto;
  position: relative;
}


/* ===================Posicionamento de Texto=================================*/

.flex-action{
  justify-content: center;
  top: 190px;
  left: 220px;
  position: absolute;
  display: flex;
}

.flex-action img{
  align-self: flex-start;
}

.flex-action-logo{
  color: #ffffff;
  font-weight: 600;
  align-items: center;
  justify-items: center;
  display: flex;
}

.flex-action-logo h3{
  padding-right: 24px;
}


/* =====================Estilização do texto================================= */
.title-action{
font-size: 64px;
font-weight: 700;
color: #ffffff;
line-height: 72px;
margin-top: 24px;
margin-bottom: 72px;
}

/* =======================Butão============================================= */

.button-apply{
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #5468e7;
  padding: 20px 56px;
}


