/* ======================= */
/* ----Arrumando Flex----- */

.flex-titulo-projects {
  padding-bottom: 40px;
  align-items: flex-start;
  display: flex;
}

/* ====================== */
/* ------Butão---------- */
.button-projects{
  padding: 20px 38px;
  background-color: #5468e7;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  color: white;
}