.titulo-02{
  width: 668px;
}

.sub-02{
/*   color: #ffffff;
 */  width: 468px;
}

.flex-logo{
  display: flex;
  align-items: center;
}

.flex-logo img{
  width: 24px;
  margin-right: 177px;
}

.flex-logo p{
  margin-left: 24px;
}