/* ========================================================================== */
/* ------------------------Container envolvendo o conteúdo------------------ */

.hello-container {
  margin: 0 auto;
  background-color: #5468e7;
  border-radius: 40px;
  width: 90%;
  height: 1024px;
}

/* ========================================================================== */
/* -------------Flex segunda parte------------------------------------------- */

.talk-flex {
  display: flex;
}

/* ========================================================================== */
/* --------------Posicionamento dos textos e Estilização--------------------- */

.text-hello {
  text-align: center;
  padding: 128px 156px 176px 156px;
  border-bottom: 1px solid #7686ec;
}

.text-hello h2 {
  padding: 40px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}

.text-hello p {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #ffffff;
}

.text-lets-talk {
  display: flex;
  height: 508px;
  width: 50%;
  font-size: 3.5em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  line-height: 72px;
  border-right: 1px solid #7686ec;
}

.invest-cotainer{
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 508px;
  display: flex;
  flex-direction: column;
}

.invest{
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.invest-cotainer .hello-bubble-img{
  align-self: flex-start;
width: 103px;
height: 103px;
}

.invest-flex{
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.invest-flex h1{
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

/* ===================================================================== */
/* -----------------------Linha---------------------------------------- */

.linha-hello{
  background-image: url(/img/layout-7/line\ 2\ \(1\).png);
  background-repeat: no-repeat;
  background-position-x: 85px;
}