@font-face {
  font-family: "Display";
  src: url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYBLACKITALIC.OTF")
    format("opentype")
    url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF")
    format("opentype")
    url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYHEAVYITALIC.OTF")
    format("opentype")
    url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYLIGHTITALIC.OTF")
    format("opentype");
}

body {
  font-family: "Display", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

ul li a,
a {
  text-decoration: none;
}

.nav-bar {
  max-width: 1296px;
}

.container-01 {
  max-height: 1024px;
}

.linha {
  background-image: url(../img/line-1.png);
  background-repeat: no-repeat;
  background-size: 600px 700px;
  background-position-x: 255px;
}

.menu-folio {
  max-width: 1296px;
  height: 64px;
  margin: 0px 72px;
  padding: 64px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-folio:focus {
  outline: none;
}

.menu-folio-menu a:hover {
  color: #5468e7;
}

.folio-logo li a {
  margin-left: 16px;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}

.conteudo-info {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 135px;
}

.conteudo-info-menu {
  width: 100%;
  display: flex;
}

.ponto {
  color: #5468e7;
}

.menu-folio-menu {
  display: flex;
}

.notification {
  top: -15px;
  right: -6px;
  position: relative;
}

.menu-folio-menu li {
  margin: 0 0 0 64px;
}

.menu-folio-menu li a {
  text-decoration: none;
  color: #8b8b8b8b;
}

.folio-logo {
  display: flex;
  align-items: center;
}

.titulo {
  font-size: 80px;
  font-weight: bolder;
}

.titulo-folio {
  width: 467px;
  color: #232340;
}

.subtitulo {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.img-hero {
  margin: 50px -230px;
  padding-bottom: 80px;
  width: 60%;
  max-width: 800px;
  position: absolute;
}

.img-bg {
  padding-left: 40px;
  max-width: 100%;
  height: 90%;
}

.imagens {
  height: 722px;
  width: 900px;
  margin: auto 0;
  margin-right: 135px;
  /* background-image: url(../img/bg.png);
  background-size: 480px 635px;
  background-repeat: no-repeat; */
  display: flex;
}

.text-pd {
  margin-top: 40px;
  width: 406px;
  line-height: 32px;
}

.button-work {
  margin-top: 48px;
  padding: 20px 38px;
  background-color: #5468e7;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  color: white;
}

.button-us {
  margin-left: 20px;
  margin-top: 48px;
  padding: 20px 44px;
  background-color: #232340;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  color: white;
}

.scroll {
  font-size: 18px;
  margin-top: 110px;
  display: flex;
  align-items: center;
}

.scroll h1 {
  margin-left: 16px;
  color: #8b8b8b8b;
}
