@font-face {
  font-family: "Display";
  src: url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYBLACKITALIC.OTF")
    format("opentype")
    url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF")
    format("opentype")
    url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYHEAVYITALIC.OTF")
    format("opentype")
    url("/font/sf-pro-display-cufonfonts/SFPRODISPLAYLIGHTITALIC.OTF")
    format("opentype");
}

body {
  font-family: "Display", sans-serif;
  /* max-width: 1440px; */
  margin: 0 auto;
}

ul li a,
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* =================================================================================== */
/* -----------------------Container - Flex-------------------------------------------- */

.text-info-stand {
  display: flex;
  flex-direction: column;
}

.container-01 {
  max-height: 1024px;
}

.linha {
  background-image: url(../img/line-1.png);
  background-repeat: no-repeat;
  background-size: 600px 700px;
  background-position-x: 255px;
}

/* =============================================================== */
/* ------------------Menu Folio---------------------------------- */

.menu-folio {
  height: 64px;
  padding: 54px 0px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1295px;
  align-items: center;
  margin: auto;
}

.menu-folio:focus {
  outline: none;
}

.menu-folio-menu a:hover {
  color: #5468e7;
}

.menu-folio-menu li {
  display: flex;
  margin-left: 54px;
}

.folio-logo li a {
  margin-left: 16px;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}

.conteudo-info {
  position: relative;
  margin-bottom: 80px;
}

.conteudo-info-menu {
  width: 82.98%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.ponto {
  color: #5468e7;
}

.menu-folio-menu {
  display: flex;
}

.notification {
  top: -15px;
  right: -6px;
  position: relative;
}

.menu-folio-menu li a {
  text-decoration: none;
  color: #8b8b8b8b;
}

.folio-logo {
  display: flex;
  align-items: center;
}

.titulo {
  font-size: 80px;
  font-weight: bolder;
}

.titulo-folio {
  white-space: nowrap;
  color: #232340;
}

.subtitulo {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.img-bg{
  max-height: 722px;
  max-width: 783.5px;
  width: auto;
  height: auto;
}


.text-pd {
  margin-top: 40px;
  line-height: 32px;
}

.button-work {
  margin-top: 48px;
  padding: 20px 38px;
  background-color: #5468e7;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  color: white;
}

.button-us {
  margin-left: 20px;
  margin-top: 48px;
  padding: 20px 44px;
  background-color: #232340;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  color: white;
}

.scroll {
  font-size: 18px;
  margin-top: 110px;
  display: flex;
  align-items: center;
}

.scroll h1 {
  margin-left: 16px;
  color: #8b8b8b8b;
}

/* =============================================================================== */
/* -------------------Linhas----------------------------------------------------- */

/* =========================================================================== */
/* ----------------------------Linha Header---------------------------------- */

.background-linha-header {
  background-image: url(/img/layout-6/Path.png);
  background-repeat: no-repeat;
  background-position: 300px -19px; 
}

/* -------------------------------------------------------------------------- */

.linha-do {
  background-image: url(/img/layout-6/Path.png);
  background-repeat: no-repeat;
  background-position: 150px 0px;
}

.linha-do-achi {
  background-image: url(/img/line-1.png);
  background-repeat: no-repeat;
  background-position-y: 900px;
  background-position-x: 1000px;
}
