.titulo-make{
  color: white;
  font-size: 64px;
  line-height: 72px;
  width: 668px;
  font-weight: 700;
  margin: 335px 176px;
  position: relative;
}

.Desktop{
  position: relative;
  right: 80px;
}

.who-part02{
  background-color: #232340;
}